<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i">
  <sv label="姓名">{{ i.name }}</sv>
  <sv label="状态">{{ i.status }}</sv>
  <sv label="操作">{{ i.operate }}</sv>
  <sv label="原因">{{ i.reason }}</sv>
  <sv label="操作者ID">{{ i.operatorid }}</sv>
  <sv label="创建时间">{{ formatDate(i.createtime) }}</sv>
  <sv label="更新时间">{{ formatDate(i.revisetime) }}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
